@use '../1-helpers/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	color: #fff;
	background-color: $background-color;
	font-family: Poppins, sans-serif;
	// opacity: 0.2;
}

a {
	color: #fff;
	text-decoration: none;
}
