.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 5rem;
	padding: 0 4rem;
}

.header__title-container {
	width: 45%;
}

.header__title {
	font-size: 4rem;
	text-align: right;
}

.header__img {
	width: 45%;
	height: 350px;
	background-image: url('../images/hero.jpg');
	background-size: cover;
	border-radius: 1.5rem;
}
