.section {
	margin: auto;
}

.section--md {
	width: 70%;
}

.section--sm {
	width: 60%;
}

.hr {
	margin: auto;
	margin-top: 10rem;
	border-top: 8px solid #ff346d;
	width: 50%;
	border-radius: 5px;
}
