.technos {
	display: grid;
	justify-items: center;
	gap: 4rem;
	grid-template-columns: repeat(4, 1fr);

	@media (max-width: 822px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

// REACT
.technos__react {
	margin-top: 1.6rem;
	background-color: #fff;
	width: 80px;
	height: 80px;
	position: relative;
	transform: rotate(-45deg);
}

.technos__react:before,
.technos__react:after {
	content: '';
	background-color: #fff;
	border-radius: 50%;
	height: 80px;
	position: absolute;
	width: 80px;
}

.technos__react:before {
	top: -35px;
	left: 0;
}

.technos__react:after {
	left: 35px;
	top: 0;
}

.technos__react img {
	position: absolute;
	z-index: 1;
	left: 1.5rem;
	top: 0.5rem;
	transition: transform 100s ease-in-out;
}

.technos__react img:hover {
	transform: rotate(40000deg);
}

// TYPESCRIPT
.technos__typescript:hover {
	border-radius: 50%;
}

.technos__typescript img {
	transition: transform 2s ease-in-out;
}

.technos__typescript img:hover {
	transform: rotate(-45deg);
}

// SASS
.technos__sass {
	border-radius: 50%;
}

.technos__sass img {
	transition: transform 2s ease-in-out;
}

.technos__sass img:hover {
	transform: scale(1.2);
}

.technos__sass,
.technos__git,
.technos__typescript {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 2rem;
	width: 120px;
	height: 120px;
	transition: transform 2s ease-in-out, border-radius 2s ease-in-out;
}

// GIT
.technos__git {
	border-radius: 1rem;
	transform: rotate(45deg);
}
.technos__git,
.technos__git img {
	transition: transform 3s ease-in-out;
}
.technos__git:hover {
	transform: rotate(405deg);
}

.technos__git img:hover {
	transform: rotate(-405deg);
}
